mercados/WEB-INF/tibco/schemas/CommonTransportDefs.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "urn:tibco:ps:common_types"
	 xmlns:ct = "urn:tibco:ps:common_types"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "MessageContext">
		<complexType>
			<sequence>
				<element name = "ID" type = "string"/>
				<element name = "OperationName" type = "string"/>
				<element name = "LoggingCategory" type = "string"/>
				<element name = "LoggingContext" type = "string"/>
				<element name = "InstrumentCategory" type = "string"/>
				<element name = "SharedTemplateAppPath" type = "string"/>
			</sequence>
		</complexType>
	</element>
	<element name = "AuthContext">
		<complexType>
			<sequence>
				<element name = "UserName" type = "string"/>
				<element name = "EncryptedPassword" type = "string" minOccurs = "0"/>
				<element name = "IsAuthenticated" type = "boolean"/>
			</sequence>
		</complexType>
	</element>
	<complexType name = "PortletCookieType">
		<sequence>
			<element name = "Name" type = "string"/>
			<element name = "Value" type = "string"/>
			<element name = "Expiry" type = "string" minOccurs = "0"/>
			<element name = "Comment" type = "string" minOccurs = "0"/>
			<element name = "Path" type = "string" minOccurs = "0"/>
			<element name = "Domain" type = "string" minOccurs = "0"/>
			<element name = "IsSecure" type = "string" minOccurs = "0"/>
			<element name = "Version" type = "string" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "NameValuesType">
		<sequence>
			<element name = "Name" type = "string"/>
			<element name = "Value" type = "string" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
    <complexType name= "Attachment">
        <sequence>
            <element name = "Name" type = "string"/>
            <element name = "OriginalName" type = "string"/>
            <element name = "MimeType" type = "string"/>
            <element name = "Content" type = "base64Binary"/>
        </sequence>
    </complexType>
	<element name = "RequestContext">
		<complexType>
			<sequence>
				<element name = "ContextPath" type = "string"/>
				<element name = "ServletPath" type = "string"/>
				<element name = "ServerName" type = "string"/>
				<element name = "Scheme" type = "string"/>
				<element name = "RequestURI" type = "string"/>
				<element name = "ServerPort" type = "string"/>
				<element name = "Header" type = "ct:NameValuesType" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "ct:PortletCookie" minOccurs = "0" maxOccurs = "unbounded"/>
				<element name = "Attachment" type="ct:Attachment" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "PortletCookie" type = "ct:PortletCookieType"/>
	<element name = "TransportContext">
		<complexType>
			<sequence>
				<element ref = "ct:MessageContext"/>
				<element ref = "ct:RequestContext"/>
				<element ref = "ct:AuthContext"/>
			</sequence>
		</complexType>
	</element>
</schema>