mercados/WEB-INF/tibco/schemas/PasServiceTypes.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "urn:tibco:ps:pas_service"
	 xmlns:passvc = "urn:tibco:ps:pas_service"
	 xmlns:ct = "urn:tibco:ps:common_types"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<import namespace = "urn:tibco:ps:common_types" schemaLocation = "CommonTransportDefs.xsd"/>
	<element name = "render">
		<complexType>
			<sequence>
				<element ref = "passvc:PortletExecutionContext"/>
				<element ref = "ct:TransportContext"/>
			</sequence>
		</complexType>
	</element>
	<element name = "processAction">
		<complexType>
			<sequence>
				<element ref = "passvc:PortletExecutionContext"/>
				<element ref = "ct:TransportContext"/>
			</sequence>
		</complexType>
	</element>
	<element name = "PortletActionResult">
		<complexType>
			<sequence>
				<element ref = "passvc:RenderParams" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "passvc:PortletPreferences" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "passvc:ResponseProperties" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "passvc:PortletCookies" minOccurs = "0" maxOccurs = "unbounded"/>
				<element name = "PortletMode" type = "string"/>
				<element name = "PortletWindowState" type = "string"/>
				<element name = "RedirectURL" type = "string"/>
				<element name = "HasError" type = "boolean"/>
				<element name = "PreferencesStored" type = "boolean"/>
				<element name = "ErrorMessage" type = "string"/>
			</sequence>
		</complexType>
	</element>
	<element name = "RenderParams" type = "ct:NameValuesType"/>
	<element name = "PortletPreferences" type = "ct:NameValuesType"/>
	<element name = "PortletCookies" type = "ct:PortletCookieType"/>
	<element name = "PortletExecutionContext">
		<complexType>
			<sequence>
				<element name = "Operation" type = "string"/>
				<element name = "SubscriptionURI" type = "string"/>
				<element name = "WindowId" type = "string"/>
				<element name = "PageID" type = "string"/>
				<element name = "PortletApplicationName" type = "string"/>
				<element name = "PortletTypeName" type = "string"/>
				<element name = "PortletItemURI" type = "string"/>
				<element name = "CharSet" type = "string"/>
				<element name = "PortletLocale" type = "string"/>
				<element name = "MimeType" type = "string"/>
				<element name = "PortletMode" type = "string"/>
				<element name = "PortletNamespace" type = "string"/>
				<element name = "PortletPreferencesConfigURI" type = "string"/>
				<element ref = "passvc:PortletPreferences" minOccurs = "0" maxOccurs = "unbounded"/>
				<element name = "PreferencesInitialized" type = "boolean" minOccurs = "0"/>
				<element ref = "passvc:RenderParams" minOccurs = "0" maxOccurs = "unbounded"/>
				<element name = "Secure" type = "boolean"/>
				<element name = "PortletWindowState" type = "string"/>
				<element name = "LoggingCategory" type = "string"/>
				<element name = "EnableVerboseLogging" type = "string"/>
				<element name = "UseThreadPool" type = "boolean"/>
				<element name = "UserContext" type = "passvc:UserContext" minOccurs = "0"/>
				<element name = "RequestData" type = "ct:Attachment" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "PortletRenderResult">
		<complexType>
			<sequence>
				<element ref = "passvc:PortletMarkup"/>
				<element ref = "passvc:PortletPrefaceMarkup"/>
				<element ref = "passvc:PortletTitle"/>
				<element ref = "passvc:PortletPersonalizationUrl"/>
				<element ref = "passvc:PortletCookies" minOccurs = "0" maxOccurs = "unbounded"/>
				<element ref = "passvc:ResponseProperties" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "PortletMarkup" type = "string"/>
	<element name = "PortletPrefaceMarkup" type = "string"/>
	<element name = "PortletTitle" type = "string"/>
	<element name = "PortletPersonalizationUrl" type = "string"/>
	<element name = "getDescriptor">
		<complexType>
			<sequence>
				<element ref = "passvc:PortletExecutionContext"/>
				<element ref = "ct:TransportContext"/>
			</sequence>
		</complexType>
	</element>
	<element name = "GetDescriptorResult">
		<complexType>
			<sequence>
				<element name = "Descriptor" type = "base64Binary"/>
			</sequence>
		</complexType>
	</element>
	
	<!-- User Context and related types -->
	
	<complexType name = "Extension">
		<sequence>
			<any namespace = "##other" processContents = "strict"/>
		</sequence>
	</complexType>
	<complexType name = "Postal">
		<sequence>
			<element name = "name" type = "string" minOccurs = "0"/>
			<element name = "street" type = "string" minOccurs = "0"/>
			<element name = "city" type = "string" minOccurs = "0"/>
			<element name = "stateprov" type = "string" minOccurs = "0"/>
			<element name = "postalcode" type = "string" minOccurs = "0"/>
			<element name = "country" type = "string" minOccurs = "0"/>
			<element name = "organization" type = "string" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "TelephoneNum">
		<sequence>
			<element name = "intcode" type = "string" minOccurs = "0"/>
			<element name = "loccode" type = "string" minOccurs = "0"/>
			<element name = "number" type = "string" minOccurs = "0"/>
			<element name = "ext" type = "string" minOccurs = "0"/>
			<element name = "comment" type = "string" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "Telecom">
		<sequence>
			<element name = "telephone" type = "passvc:TelephoneNum" minOccurs = "0"/>
			<element name = "fax" type = "passvc:TelephoneNum" minOccurs = "0"/>
			<element name = "mobile" type = "passvc:TelephoneNum" minOccurs = "0"/>
			<element name = "pager" type = "passvc:TelephoneNum" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "Online">
		<sequence>
			<element name = "email" type = "string" minOccurs = "0"/>
			<element name = "uri" type = "string" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "Contact">
		<sequence>
			<element name = "postal" type = "passvc:Postal" minOccurs = "0"/>
			<element name = "telecom" type = "passvc:Telecom" minOccurs = "0"/>
			<element name = "online" type = "passvc:Online" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "EmployerInfo">
		<sequence>
			<element name = "employer" type = "string" minOccurs = "0"/>
			<element name = "department" type = "string" minOccurs = "0"/>
			<element name = "jobtitle" type = "string" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "PersonName">
		<sequence>
			<element name = "prefix" type = "string" minOccurs = "0"/>
			<element name = "given" type = "string" minOccurs = "0"/>
			<element name = "family" type = "string" minOccurs = "0"/>
			<element name = "middle" type = "string" minOccurs = "0"/>
			<element name = "suffix" type = "string" minOccurs = "0"/>
			<element name = "nickname" type = "string" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "UserProfile">
		<sequence>
			<element name = "name" type = "passvc:PersonName" minOccurs = "0"/>
			<element name = "bdate" type = "dateTime" minOccurs = "0"/>
			<element name = "gender" type = "string" minOccurs = "0"/>
			<element name = "employerInfo" type = "passvc:EmployerInfo" minOccurs = "0"/>
			<element name = "homeInfo" type = "passvc:Contact" minOccurs = "0"/>
			<element name = "businessInfo" type = "passvc:Contact" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<complexType name = "UserContext">
		<sequence>
			<element name = "userContextKey" type = "string"/>
			<element name = "userCategories" type = "string" minOccurs = "0" maxOccurs = "unbounded"/>
			<element name = "profile" type = "passvc:UserProfile" minOccurs = "0"/>
			<element name = "extensions" type = "passvc:Extension" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<element name = "ResponseProperties" type = "ct:NameValuesType"/>
</schema>