mercados/WEB-INF/tibco/schemas/ScreenFlow.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/ps/screen_flow"
	 xmlns:sf = "http://www.tibco.com/ps/screen_flow"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "Screen">
		<complexType>
			<sequence>
				<sequence>
					<element ref = "sf:ClassName"/>
					<element ref = "sf:Property" minOccurs = "0" maxOccurs = "unbounded"/>
					<element ref = "sf:FormProcessor" minOccurs = "0"/>
					<element ref = "sf:PreProcessor" minOccurs = "0"/>
					<element ref = "sf:ScreenInitializer" minOccurs = "0"/>
					<choice>
						<sequence>
							<element ref = "sf:EnableNext" minOccurs = "0"/>
							<element ref = "sf:EnablePrevious" minOccurs = "0"/>
							<element ref = "sf:EnableCancel" minOccurs = "0"/>
							<element ref = "sf:EnableDone" minOccurs = "0"/>
						</sequence>
						<element ref = "sf:EnableLocalNavigation"/>
					</choice>
					<choice minOccurs = "0" maxOccurs = "unbounded">
						<element ref = "sf:Action"/>
						<element ref = "sf:ForwardAction"/>
					</choice>
				</sequence>
			</sequence>
			<attribute name = "Name" use = "required" type = "string"/>
		</complexType>
	</element>
	<element name = "Action">
		<complexType>
			<complexContent>
				<extension base = "sf:ActionType">
					<sequence>
						<element ref = "sf:DoProcess" minOccurs = "0"/>
					</sequence>
					<attribute name = "Name" use = "required" type = "string"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "DefaultScreen" type = "string"/>
	<element name = "ScreenOrder" type = "string"/>
	<element name = "Property">
		<complexType>
			<complexContent>
				<extension base = "sf:PropertyType"/>
			</complexContent>
		</complexType>
	</element>
	<element name = "ScreenFlow">
		<complexType>
			<sequence>
				<choice minOccurs = "0">
					<element ref = "sf:DefaultScreen"/>
					<element ref = "sf:ScreenOrder"/>
				</choice>
				<element ref = "sf:ScreenForwardClassName" minOccurs = "0"/>
				<element ref = "sf:Action" minOccurs = "0" maxOccurs = "unbounded"/>
				<choice minOccurs = "0" maxOccurs = "unbounded">
					<element ref = "sf:Screen"/>
					<element ref = "sf:ScreenFlowRef"/>
					<element ref = "sf:ScreenFlow"/>
				</choice>
			</sequence>
			<attribute name = "Name" use = "required" type = "string"/>
		</complexType>
	</element>
	<element name = "EnableNext" type = "boolean"/>
	<element name = "ClassName" type = "string"/>
	<element name = "FormProcessor">
		<complexType>
			<complexContent>
				<extension base = "sf:ActionType"/>
			</complexContent>
		</complexType>
	</element>
	<element name = "PreProcessor">
		<complexType>
			<complexContent>
				<extension base = "sf:ActionType"/>
			</complexContent>
		</complexType>
	</element>
	<element name = "ForwardAction">
		<complexType>
			<complexContent>
				<extension base = "sf:ForwardDef">
					<sequence>
						<element ref = "sf:DoProcess" minOccurs = "0"/>
					</sequence>
					<attribute name = "Name" use = "required" type = "string"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "DoProcess" type = "boolean"/>
	<element name = "ActionRef" type = "string"/>
	<element name = "ScreenSet">
		<complexType>
			<sequence>
				<element ref = "sf:NavigationTemplatePath" minOccurs = "0"/>
				<element ref = "sf:RegisterFrameAttrsToNavTemplate" minOccurs = "0"/>
				<element ref = "sf:ScreenForwardClassName" minOccurs = "0"/>
				<choice minOccurs = "0">
					<element ref = "sf:DefaultScreen"/>
					<element ref = "sf:ScreenOrder"/>
				</choice>
				<element ref = "sf:Action" minOccurs = "0" maxOccurs = "unbounded"/>
				<choice minOccurs = "0" maxOccurs = "unbounded">
					<element ref = "sf:Screen"/>
					<element ref = "sf:ScreenFlow"/>
					<element ref = "sf:ScreenFlowRef"/>
				</choice>
			</sequence>
			<attribute name = "Mode" type = "string"/>
		</complexType>
	</element>
	<element name = "PortletSpec">
		<complexType>
			<sequence>
				<element ref = "sf:ScreenSet" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "RegisterFrameAttrsToNavTemplate" type = "boolean" default = "false"/>
	<element name = "NavigationTemplatePath" type = "string"/>
	<element name = "EnableDone" type = "boolean"/>
	<complexType name = "ActionType">
		<sequence>
			<element ref = "sf:ClassName"/>
			<element ref = "sf:Property" minOccurs = "0" maxOccurs = "unbounded"/>
			<element ref = "sf:Forward" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<element name = "Forward">
		<complexType>
			<complexContent>
				<extension base = "sf:ForwardDef">
					<attribute name = "Name" use = "required" type = "string"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "ScreenFlowRef">
		<complexType>
			<simpleContent>
				<extension base = "string">
					<attribute name = "Name" use = "required" type = "string"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<complexType name = "ForwardDef">
		<sequence>
			<element name = "ForwardType" type = "string"/>
			<element name = "ForwardPath" type = "string"/>
			<element ref = "sf:Parameter" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	<element name = "Parameter">
		<complexType>
			<complexContent>
				<extension base = "sf:PropertyType"/>
			</complexContent>
		</complexType>
	</element>
	<complexType name = "PropertyType">
		<sequence>
			<element name = "Name" type = "string"/>
			<element name = "Value" type = "string"/>
		</sequence>
	</complexType>
	<element name = "EnablePrevious" type = "boolean"/>
	<element name = "EnableCancel" type = "boolean"/>
	<element name = "EnableLocalNavigation" type = "boolean"/>
	<element name = "ScreenForwardClassName" type = "string"/>
	<element name = "ScreenInitializer">
		<complexType>
			<complexContent>
				<extension base = "sf:ActionType"/>
			</complexContent>
		</complexType>
	</element>
</schema>