mercados/WEB-INF/tibco/schemas/ScreenSpec.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:complexType name = "PropertyType">
		<xsd:sequence>
			<xsd:element name = "Name" type = "xsd:string"/>
			<xsd:element name = "Value" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "Screen" type = "ScreenType"/>
	<xsd:element name = "Action" type = "ActionType"/>
	<xsd:complexType name = "ScreenSetType">
		<xsd:sequence>
			<xsd:choice minOccurs = "0">
				<xsd:sequence>
					<xsd:element name = "ContainerTemplate" type = "xsd:string"/>
					<xsd:element name = "ContainerTemplateEncoding" type = "xsd:string" minOccurs = "0"/>
				</xsd:sequence>
				<xsd:element name = "ContainerTemplatePath" type = "xsd:string"/>
			</xsd:choice>
			<xsd:element name = "IgnoreUnknownAction" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "IgnoreUnknownScreen" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "DefaultAction" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "DefaultScreen" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ScreenOrder" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "ActionOrder" type = "xsd:string" minOccurs = "0"/>
			<xsd:element ref = "Action" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element ref = "Screen" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attribute name = "Mode" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:element name = "ScreenSet" type = "ScreenSetType"/>
	<xsd:complexType name = "ScreenSpecType">
		<xsd:sequence>
			<xsd:element ref = "ScreenSet" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "ScreenSpec" type = "ScreenSpecType"/>
	<xsd:element name = "Property" type = "PropertyType"/>
	<xsd:complexType name = "ScreenType">
		<xsd:complexContent>
			<xsd:extension base = "BaseType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "BaseType">
		<xsd:sequence>
			<xsd:element name = "ClassName" type = "xsd:string"/>
			<xsd:element ref = "Label"/>
			<xsd:element ref = "Property" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attribute name = "Name" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "ActionType">
		<xsd:complexContent>
			<xsd:extension base = "BaseType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "Label" type = "xsd:string"/>
</xsd:schema>